*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-font: 'Exo 2', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --text-color: #070707;
    --primary-color: #F7931D;
    --secondary-color: #6d6d6d;
    --bg-color: #fff;
}

body{
    font-family: var(--text-font);
    color: var(--text-color);
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


/*=== navbar ===*/
.navbar{
    background: var(--bg-color) !important;
}
.nav-item{
    padding: 0 10px;
}
.nav-link{
    padding: 26px 38px;
    color: var(--text-color) !important;
}
#top-bar{
    background-color: var(--primary-color);
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-bar .top-bar-left .social-icon{
    color: var(--bg-color);
}

/*=== slider ===*/
.main-slider{
    overflow: hidden;
}
.slick-prev {
    left: 1rem;
    z-index: 9999;
}
.slick-prev::before, .slick-next::before {
    font-size: 50px;
}
.slick-next {
    right: 3rem;
    z-index: 9999;
}
.slider-item{
    max-height: 800px;
}

/*=== about us ===*/
.section-default{
    padding: 0px 50px !important;
}
.img-text {
    background: var(--primary-color);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 10rem;
}

.img-text>h2 {
    text-align: center;
    font-family: var(--title-font);
    font-size: 37px !important;
    font-weight: 700;
    width: 100%;
}
h2.title {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.about-content {
    color: var(--secondary-color);
    font-size: 18px;
    text-align: justify;
}
/*=== services ===*/
.service-item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
}
h3.service-title.title-bottom {
    background: var(--bg-color);
    width: 60%;
    padding: 13px 30px;
    margin-top: 40px;
    position: relative;
    font-weight: 400;
    top: 14rem;
    transition: .2s linear;
}

h3.service-title {text-transform: uppercase;color: var(--text-color);font-size: 21px;}

h3.service-title.title-bottom::before {
    content: "";
    position: absolute;
    border: 16px solid var(--bg-color);
    border-top-color: transparent;
    border-left-color: transparent;
    right: 0px;
    top: -20px;
}
.service-item{
    cursor: pointer;
}
.service-content {
    width: 60%;
    background: var(--bg-color);
    padding: 25px;
    position: absolute;
    top: -20rem;
    transition: .35s linear;
}
p.service-text {
    color: var(--secondary-color);
    font-size: 15px;
    margin: 15px 0px;
}

a.service-link {
    text-transform: uppercase;
    background: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    display: block;
    text-align: center;
    padding: 7px;
    font-size: 17px;
    outline: 2.5px solid var(--text-color);
    cursor: pointer;
    transition: .2s linear;
    margin-top: 30px;
}

a.service-link:hover {
    outline-offset: 1.5px;
    outline-color: var(--primary-color);
    background: var(--primary-color);
}
.item-wrapper {
    position: relative;
    overflow: hidden;
}

.service-item:hover .service-content{
    top: 6rem !important;
}

.service-item:hover .title-bottom {
    top: 40rem;
}
.overlay {
    background: #0000008e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s linear;
    opacity: 0;
}

.service-item:hover .overlay {
    opacity: 1;
}

/*=== our vision ===*/
.vision-left-wrapper {
    padding-right: 3rem;
}

.vision-block {
    background: var(--bg-color);
    box-shadow: 0px 8px 20px 8px #efefef;
    padding: 25px;
    padding-right: 5rem;
}

p.vision-text {
    text-align: justify;
    font-size: 15px;
    color: var(--secondary-color);
    margin-bottom: 0;
}

h2.vision-title {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 15px;
}









/*=== footer ===*/
h2.footer-title {
    color: var(--bg-color);
    font-size: 23px;
}

p.footer-text {
    color: #bdbdbd;
    font-size: 16px;
    text-align: justify;
}

ul.footer-links {
    padding-left: 7px;
}

ul.footer-links>li>a {
    color: var(--bg-color);
    line-height: 32px;
}
hr.footer-line {
    border-color: white;
}

p.footer-bottom-text {
    color: #d9d9d9;
    padding: 10px 0px;
}

/*=== media queries ===*/
@media (max-width: 992px) {
    .service-content{
        padding: 20px !important;
    }
    h3.service-title.title-bottom{
        padding: 8px 20px !important;
    }
}

@media (max-width: 768px) {}
@media (max-width: 576px) {
    .img-fluid{
        max-width: 72% !important;
    }
    .img-text{
        width: 6rem !important;
        padding: 10px !important;
    }
    .img-text>h2{
        font-size: 30px !important;
    }
}